@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root{
    --color1: hsl(203, 30%, 26%);
    --color2: hsl(206, 46%, 37%);
    --color3: hsl(39, 92%, 57%);
    --font-title: 'Acme', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(233, 230, 230);
    min-height: 100vh;
    font-family: var(--font-title);
}


/******************************

        NAVIGATION

******************************/

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5em;
    background: linear-gradient(170deg, #d62b1b 0%, #8a2a43 67%, #691c67 90%, #420f61 100%);
    color: white;
    box-shadow: 0px 5px rgb(46, 45, 43);
    align-items: center;
}

nav h1{
    font-family: var(--font-title);
    font-size: 2em;
    font-weight: lighter;
    letter-spacing: 5px;
    margin-left: 0.5em;
}

nav ul{
    display: flex;
    
}

nav li{
    list-style: none;
    margin-right: 2em;
}

nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    letter-spacing: 3px;
}

nav a:hover{
    text-decoration: underline;
}

.logo{
    display: flex;
    align-items: center;
}

/******************************

        Categories

******************************/

.categories{
    margin-top: 2.5em;
    margin-bottom: -1.5em;
}

.categories ul{
    display: flex;
    justify-content: center;
}

.categories li{
    list-style: none;
    margin-right: 1em;
}

.categories a{
    text-decoration: none;
    font-size: 1.2rem;
    color: hsl(0, 4%, 15%);
}

.categories a:hover{
    text-decoration: underline;
}
.pagination{
    display: flex;
    margin-top: 2em;
}

.pagination li{
    list-style: none;
    margin: 2em;
}

/******************************

       Register & Login

******************************/

section{
    display: flex;
    flex-wrap: wrap;
    /* min-height: 70vh; */
}

section form{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.formlogin{
    width: 320px;
    height: 400px;
    background-color: gray;
}

.formlogin div{
    margin: auto;
    text-align: center;
}

.formlogin input{
    padding: 1em 1.5em;
    margin-top: 1em;
    background-color: transparent;
    border: 1px black solid;
}

.formlogin input:focus{
    outline: none;
    background-color: whitesmoke;
}

.formlogin input::placeholder{
    color: black;
}

form span{
    display: flex;
    flex-direction: column;
}

.eye{
    font-size: 1.5em;
    align-items: center;
}
/******************************

       Card Annonces

******************************/

.select{
    flex-wrap: wrap;
}

.annoncescontainer{
    width: 320px;
    height: 400px;
    background: linear-gradient(173deg, #211f1e 1%, #232021 4%, #c3b0c3 71%, #e0dce4 100%);
    display: flex;
    margin-top: 3em;
    margin-left: 2em;
    border-radius: 5px;
    box-shadow: 0px 8px 0px 0px hsl(200, 5%, 55%);
}

.annonceswrapper{
    margin: auto;
    line-height: 3rem;
}

.three{
    cursor: pointer;
    font-family: var(--font_title);
    border-radius: 7px;
    border: none;
    position: relative;
    color: hsl(0, 3%, 94%);
}

.three a{
    text-decoration: none;
    color: hsl(0, 3%, 94%);
    font-size: 1.2rem;
}

.show{
    background-color: hsl(108, 89%, 40%);
    border: solid hsl(108, 89%, 40%);
    box-shadow: 0 6px hsl(108, 86%, 30%);
    padding-right: 1.5em;
    padding-left: 1.5em;
}

.show:hover{
    box-shadow: 0 4px hsl(108, 86%, 20%);
    top: 2px;
}

.show:active{
    box-shadow: 0 0 hsl(108, 86%, 20%);
    top:6px;
}

.update{
    background-color: hsl(32, 86%, 46%);
    border: solid hsl(32, 86%, 46%);
    box-shadow: 0 6px hsl(32, 86%, 36%);
}

.update:hover{
    box-shadow: 0 4px hsl(32, 86%, 26%);
    top: 2px;
}

.update:active{
    box-shadow: 0 0 hsl(32, 86%, 16%);
    top:6px;
}

.delete{
    background-color: hsl(0, 89%, 42%);
    border: solid hsl(0, 89%, 42%);
    box-shadow: 0 6px hsl(0, 89%, 32%);
}

.delete:hover{
    box-shadow: 0 4px hsl(0, 89%, 22%);
    top: 2px;
}

.delete:active{
    box-shadow: 0 0 hsl(32, 86%, 16%);
    top:6px;
}

.new button{
    margin: 2em;
}

/******************************

       Pagination

******************************/

.pagination{
    display: flex;
    justify-content: center;
}
