<header>
    <a href="index_crud.php"><img src="style/images/logo.png" width="100px" alt="logo"/></a>
    <h1 class="logo">Geek Avenue</h1>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
        <ul>
            <li><a href="index.php">Accueil</a></li>
            <li><a href="register.php">Inscription</a></li>
            <li><a href="login.php">Connexion</a></li>
        </ul>
        <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
    </nav>
    
</header>